@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Faster+One&family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --main-font: "Open Sans";
    --heading-font: "Carter One";
}

/*----Home----*/

body {
    min-width: 375px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: var(--main-font);
}

.logo {
    max-height: 70px;
    padding: 1rem;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding: 1rem;
    font-family: var(--heading-font);
    font-size: 3rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    margin: 0 auto;
    font-size: 2rem;
}

/*Navigation*/
.active {
    text-decoration: underline;
    color: rgb(144, 111, 3);
}

nav {
    color: black;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    display: none;
    padding-inline-start: 65px;
}

nav.open ul {
    display: block;
}

nav li {
    list-style-type: none;
    padding: .3rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav a:hover {
    color: #D85F0E;
    text-decoration: underline;

}

/*Burger*/
#burger::before {
    content: "⬆";
}

#burger.open::before {
    content: "⬇";
}

/*Hero Box*/
.hero-box {
    display: block;
    align-items: center;
}

.hero-box img {
    width: 100%;
}

/*Footer*/
footer {
    height: auto;
    background-color: rgb(144, 111, 3);
    color: yellow;
}

footer div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.contact div {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50px;
}

.contact div img {
    padding-right: 1rem;
    max-width: 50px;
}

.social div {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.social div a {
    padding: 1rem;
}

footer>a {
    display: block;
    text-align: center;
    color: yellow;
}

footer>p {
    text-align: center;
    padding-bottom: 1rem;
}

/* Call to Action Styles */
.call-to-action-container {
    background: yellow;
    text-align: center;
    font-size: x-large;
}

/* Alert Box Styles */
/* The alert message box */
.alert-box {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Weather container Styles */
.weather-container {
    text-align: center;
}

/* Rentals Page Styles */
.rentals-page {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.rentals-page div {
    width: 100%;
    border: solid 2px solid;
    margin-bottom: 30px;
}

.rentals-page div table {
    width: 80%;
}

.rentals-page img {
    width: 80%;
}

/* Contact Info Styles */
.contact-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-info {
    width: 50%;
    margin: auto;
}

.map-container {
    text-align: center;
}

/* Message Us Form */

form {
    min-width: 375px;
    max-width: 15rem;
    margin: 0 auto;
}

fieldset {
    border: solid 2px black;
    background-color: yellow;
}

body.dark fieldset {
    border: solid 2px black;
    background-color: yellow;
}

form legend {
    font-weight: bold;
    color: black;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
}

form label.top input {
    display: block;
    height: 44px;
    width: 90%;
    margin: 0 auto;
}

form input,
form textarea,
form select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.rentalField {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.rentalField h3 {
    grid-column: 1/3;
}

form label.sbs {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    height: 44px;
}