@media screen and (min-width: 1100px) {
    h1 {
        font-size: 3.5rem;
    }


    /*---- Rentals ----*/

    .main-rentals>h2 {
        font-size: 5rem;
    }

    /*---- Contact ----*/

    .main-contact h2 {
        font-size: 5rem;
    }

    /* Home page styles */
    .home-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Rentals Page Styles */
    .rentals-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}