@media (min-width: 1600px) {
    main {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .visualsection {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .repetitionsection {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .contrastsection {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}