@media (min-width: 640px) {

    header {
        height: 50px;
        text-align: center;
        color: rgb(47, 40, 1);
        background-color: #e1c479;
        font-family: sans-serif;
        border: 2px solid #373205;
        padding: 50px;
    }


    nav {
        text-align: center;
        color: rgb(47, 40, 1);
        background-color: beige;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        border: 2px solid #373205;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    nav ul {
        color: #373205;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        width: 70%;
    }

    nav a {
        color: #373205;
        text-decoration: none;
        display: block;
        text-align: center;
        width: auto;
    }

    nav a:hover {
        color: rgb(241, 123, 19);
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main {
        text-align: center;
        color: rgb(47, 40, 1);
        background-color: #e1c479;
        font-family: sans-serif;
        padding: 60px;
        border: 2px solid #373205;
    }

    section a {
        color: #373205;
        text-decoration: none;
    }

    section ul {
        margin: 0;
        padding: 0;
    }

    section li {
        list-style-type: none;
        font-size: 20px;
        margin: 5px;
    }

    section a:hover {
        color: rgb(241, 123, 19);
    }

    section.desktopview,
    section.mobileview {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
    }

    img.homepagedesk,
    img.homepagemobile {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    img.discoverpagedesk,
    img.discoverpagemobile {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    img.directorypagedesk,
    img.directorypagemobile {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    img.joinpagedesk,
    img.joinpagemobile {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    footer {
        height: 50px;
        text-align: center;
        color: rgb(47, 40, 1);
        background-color: beige;
        font-family: sans-serif;
    }

    #menu {
        display: none;
    }
}