@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap);

body {
    display: grid;
}

header {
    padding: 10px;
    grid-column-end: 2;
    text-align: center;
    color: rgb(47, 40, 1);
    background-color: #e1c479;
    font-family: sans-serif;
    font-size: 30px;
}

header h1 {
    margin: auto;
}

header p {
    margin: auto;
}

section {
    border: 2px solid #373205;
    background-color: beige;
    display: block;
    font-family: sans-serif;
    align-items: center;
    margin: 40px;
}

section h2 {
    font-size: 30px;
    font-weight: bold;
}

section h1 {
    font-size: 30px;
}

section h3 {
    font-size: 25px;
}

img {
    width: 100%;
}

/* section.visualsection,
section.repetitionsection,
section.contrastsection {
    margin: 40px;
} */

section p {
    font-size: 20px;
}

footer {
    height: 50%;
    text-align: center;
    color: rgb(47, 40, 1);
    background-color: beige;
    font-family: sans-serif;
}