@media (min-width: 1400px) {

    nav {
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    nav ul {
        text-decoration: none;
        list-style-type: none;
        display: flex;
        width: 70%;
    }

    nav a {
        text-decoration: none;
        display: block;
        text-align: center;
        width: auto;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    section.currentEvents {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    section.weatherCard {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    section.spotlights {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

#dark-btn {
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

/*---- Discover CSS----*/

.discover-images img {
    transition: transform 0.2s;
}

.discover-images img:hover {
    transform: scale(1.5);
}

/*---- JOIN CSS----*/

.main-join {
    display: block;
}

.main-join form {
    width: 50%;
    margin: auto;
}

form label.top input {
    height: 1rem;
}

form label.sbs {
    padding: .4rem 0;
}

.benefit {
    line-height: 1.5;
}


#submitBtn:hover {
    background-color: beige;
    color: orange;
}