@media (min-width: 1080px) {
    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    section.currentEvents {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    section.weatherCard {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    section.spotlights {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #dark-btn {
        width: 37px;
        height: 37px;
        font-size: 1.5rem;
    }

    /*---- Discover CSS----*/
    .discover-main {
        display: grid;
        grid-template-columns: 33% auto;
    }

    .discover-main section {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .discover-images {
        grid-column: 2/3;
        margin: 0 auto;
    }

    #lastModified {
        font-size: 1rem;
    }

    .discover-images img:hover {
        box-shadow: 0 0 50px #333;
    }

    /*---- JOIN CSS----*/
    .benefit-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .membership {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .benefit {
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        justify-self: center;
        align-self: center;
        line-height: 1.9;
    }

    .thankyou {
        grid-column: 1/3;
    }

    body main.list section div {
        font-size: .75rem;
    }

    body main.list section h2 {
        font-size: 1rem;
    }

    body main.list section p {
        font-size: .75rem;
    }
}